^{:watch-dirs ["src"]
  :css-dirs   ["resources"]}
{:main       demo-material-wave.material-wave
 :output-dir "target/public/demo-material-wave/out"
 :output-to  "target/public/demo-material-wave/out/main.js"}
